/* Importing font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* Giving body it's properties */
body {
	background-color: #35313d;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}


/* centered area */
.box {
	width: 70%;
	height: 30%;
	display: flex;
	margin: auto;
}
.searchBox {
	margin-top: 18%;
}

/* List styling */
ul {
	display: inline-block;
	padding: 3%;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
}

/* Creating headers*/
li:first-child {
	font-size: 50px;
	text-shadow: 1px 1px 2px black;
}

/* Spacing between links */
li {
	color: inherit;
	padding-bottom: 7px;
}

/* Links appearance */
a:link:active, a:visited:active, a:link, a:visited {
	font-style: none;
	text-decoration: none;
	font-size: 24px;
	color: currentColor;
	text-shadow: 1px 1px 2px black;
}

a:hover {
	text-shadow: 1px 1px 6px currentColor;
}

.small {
	font-size: 12px;
	color: currentColor;
}

/* Search */
#btnSearch {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
