/* Importing font */
@font-face {
	font-family: 'Josefin Sans';
	src: url('JosefinSans-Regular.ttf') format('truetype');
}

/* Giving body it's properties */
body {
	background-color: #35313d;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}


/* centered area */
.box {
	width: 70%;
	height: 30%;
	display: flex;
	margin: auto;
	margin-top: 15%;
	flex-direction: column;
}
.searchBox {
	justify-content: flex-start;
	padding: 3%;
}

.linkBox {
	display: flex;
}


/* List styling */
ul {
	display: inline-block;
	padding: 3%;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	flex: 1;
}

/* Creating headers*/
li:first-child {
	font-size: 50px;
	text-shadow: 1px 1px 2px black;
}

/* Spacing between links */
li {
	color: inherit;
	padding-bottom: 7px;
	white-space: nowrap;
}

/* Links appearance */
a:link:active, a:visited:active, a:link, a:visited {
	font-style: none;
	text-decoration: none;
	font-size: 24px;
	color: currentColor;
	text-shadow: 1px 1px 2px black;
}

a:hover {
	text-shadow: 1px 1px 6px currentColor;
}

.small {
	font-size: 12px;
	color: currentColor;
}

/* Search */
#btnSearch {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
#search {
	background-color: rgba(255, 255, 255, 0);
	height: 1.3em;
	font-family: 'Josefin sans', sans-serif;
	font-size: 25px;
	color: white;
	width: 100%;
	border: none;
	border-bottom-width: 3px;
	border-bottom-color: rgba(255, 255, 255, 0.3);
	border-bottom-style: solid;
}
